:root {
    --border-radius: 5px;
    --big-padding: 20px;
    --medium-padding: 10px;
    --small-padding: 5px;
}

body {
    background-color: rgb(230, 230, 230);
    padding: var(--big-padding);
}

.container {
    background-color: white;
    margin: auto;
    padding: var(--medium-padding);
    border-radius: var(--border-radius);
    box-shadow: 0 3px 7px 5px rgba(0, 0, 0, 0.1);
}

.container + .container {
    margin-top: 20px;
}

.container * + * {
    margin-top: 10px;
}

.container input[type=text], .container input[type=password] {
    width: 100%;
    box-sizing: border-box;
    padding: var(--small-padding);
    outline: none;
    border: 1px solid lightgray;
    border-radius: var(--border-radius);
}

.container input[type=button], .container input[type=submit] {
    padding: var(--small-padding) var(--medium-padding);
}

.small-container {
    max-width: 400px;
}

.big-container {
    max-width: 800px;
}

.errorlist {
    background-color: orangered;
    color: white;
    border-radius: var(--border-radius);
    padding: var(--small-padding);
}

.errorlist ul {
    list-style-type: none;
    padding-left: 0;
}

.chat-log {
    padding: var(--medium-padding);
    background-color: rgb(235, 235, 235);
    border-radius: var(--border-radius);
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

.chat-log > .message_block + .message_block {
    margin-top: 10px;
}

.chat-log::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.chat-log::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background-color: lightgray;
}

.chat-log:hover::-webkit-scrollbar-thumb {
    background-color: dimgray;
}

.chat-log::-webkit-scrollbar-corner {
    border-radius: var(--border-radius);
}

.message-block {
    border-radius: var(--border-radius);
    color: white;
    padding: var(--medium-padding) var(--big-padding);
    width: 60%;
}

.message-block > p {
    margin: 0;
    word-wrap: break-word;
}

.message-block > h5 {
    margin: 0 0 10px 0;
    border-bottom: 1px dashed white;
}

.our-message {
    background-color: dodgerblue;
    align-self: flex-end;
}

.other-message {
    background-color: ForestGreen;
    align-self: flex-start;
}