:root {
    --border-radius: 5px;
    --big-padding: 20px;
    --medium-padding: 10px;
    --small-padding: 5px;
}

body {
    background-color: rgb(230, 230, 230);
    padding: var(--big-padding);
}

.container {
    background-color: white;
    margin: auto;
    padding: var(--medium-padding);
    border-radius: var(--border-radius);
    box-shadow: 0 3px 7px 5px rgba(0, 0, 0, 0.1);
}

.container * + * {
    margin-top: 10px;
}

.small-container {
    max-width: 400px;
}

.big-container {
    max-width: 800px;
}

.chat-log {
    padding: var(--medium-padding);
    background-color: LightGrey;
    border-radius: var(--border-radius);
    height: 400px;
    width: 100%;
    box-sizing: border-box;
}

.container input[type=text] {
    width: 100%;
    box-sizing: border-box;
    padding: var(--small-padding);
    outline: none;
    border: 1px solid lightgray;
    border-radius: var(--border-radius);
}

input[type=button] {
    padding: var(--small-padding) var(--medium-padding);
}