{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channels Training</title>
    <link rel="stylesheet" href="{% static 'chat/base.css' %}">
</head>
<body>
<div class="container big-container">
    {% if user.is_anonymous %}
        <a href="{% url 'login' %}">Войти</a>
        или
        <a href="{% url 'register' %}">зарегистрироваться</a>
    {% else %}
        Добро пожаловать, {{ user }}!
        <a href="{% url 'logout' %}">Выйти</a>
    {% endif %}
</div>
{% if not user.is_anonymous %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
{% endif %}
</body>
</html>