{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channels Training</title>
    <link rel="stylesheet" href="{% static 'chat/base.css' %}">
    <script type="text/javascript" src="{% static 'chat/utils.js' %}"></script>
</head>
<body>
<div class="container big-container header-container">
    {% if user.is_anonymous %}
        <div>
            <a href="{% url 'login' %}">Войти</a> | <a href="{% url 'register' %}">зарегистрироваться</a>
        </div>
    {% else %}
        <div>
            Добро пожаловать, {{ user }}!
        </div>
        <div>
            <a href="{% url 'logout' %}">Выйти</a> | <a href="{% url 'admin:index' %}">Страница администратора</a>
        </div>
    {% endif %}
</div>
{% if not user.is_anonymous %}
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
{% endif %}
</body>
</html>