{% extends 'chat/base.html' %}

{% block content %}
    <div class="container small-container">
        <h3>Введите название чата, к которому хотите присоединиться</h3>
        <em>
            Название чата может содержать только английские буквы, цифры и знак подчеркивания.
            Также оно не может начинаться с цифры.
        </em>
        <input id="room-name-input" type="text" size="20">
        <input id="room-name-submit" type="button" value="Войти">
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.querySelector('#room-name-input').focus();

        document.querySelector('#room-name-input').onkeyup = event => {
            if (event.keyCode === 13) {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = () => {
            let roomName = document.querySelector('#room-name-input').value;
            if (!validateString(roomName)) return;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}