{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Channels Training</title>
    <link rel="stylesheet" href="{% static 'chat/base.css' %}">
    <script type="text/javascript" src="{% static 'chat/utils.js' %}"></script>
</head>
<body>
<div class="container small-container">
    <h3>Введите имя пользователя и пароль для регистрации в системе</h3>
    <em>
        Имя пользователя может содержать только английские буквы, цифры и знак подчеркивания.
        Также оно не может начинаться с цифры.
    </em>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="button" id="register-button" value="Зарегистрироваться">
    </form>
</div>
<script>
    document.querySelector('input[name=username]').focus();

    bindEnterHandler(
        document.querySelector('#register-button'),
        document.querySelector('#id_username'),
        document.querySelector('#id_password')
    );

    document.querySelector('input[type=button]').onclick = event => {
        event.preventDefault();

        let username = document.querySelector('input[name=username]').value;
        if (!validateString(username)) return;

        document.querySelector('form').submit();
    }
</script>
</body>
</html>
