{% extends 'chat/base.html' %}

{% block content %}
    <div class="container big-container">
        <!-- Элемент для вывода всех сообщений чата -->
        <div class="chat-log"></div>

        <input id="chat-message-input" type="text" size="100">
        <input id="chat-message-submit" type="button" value="Отправить">

        {{ data|json_script:'data' }}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const {roomName, username} = JSON.parse(document.getElementById('data').textContent);

        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = event => {
            const data = JSON.parse(event.data);
            let text = document.createElement('p');
            text.textContent = data.message;

            let messageBlock = document.createElement('div');
            messageBlock.append(text);

            messageBlock.classList.add('message-block', 'our-message');
            document.querySelector('.chat-log').append(messageBlock);
        };

        chatSocket.onclose = () => {
            console.error('WebSocket чата неожиданно закрылся...');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = event => {
            if (event.keyCode === 13) {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = () => {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            if (message.trim() === '') return;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
